*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to bottom, #050709, #111221, #2a142d, #480d27, #5c1111);
}